<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  	<% for(var i=0; i<records.length; i++) {%>
  		<tr>
   			<td><%= records[i].Name %></td>
   			<td><%= records[i].Date %></td>
   			<td><%= records[i].Time %></td>
   			<td><%= records[i].Action %></td>
   		</tr>
		<% } %>
    </tbody>
  </table>