<section ng-controller="myController">
  <div class="row">
  <div class="col-md-4">
    <form class="form-group">
      <label for="sel1" class="control-label">Select a employee</label>
      <div class="row">
        <div class="col-xs-8">
          <select class="form-control" data-style="btn-primary" id="sel1" ng-model="reqEmployee" ng-options="name for name in names" title="Choose employee...">{{name}}</select>
        </div>
        <div class="col-xs-4">
          <button type="button" class="btn btn-primary" ng-click="getEmployeeData()">Go!</button>
        </div>
      </div>
  </form>
  </div>
  
  <div class = "col-md-8" ng-show="data">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" data-target="#sectionA">Raw Data</a></li>
      <li><a data-toggle="tab" data-target="#sectionB">Processed Data</a></li>
    </ul>
    <div class="tab-content">
      <div id="sectionA" class="tab-pane fade in active">
        <h3>Raw Data</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="record in data | orderBy : sortByDate : true">
              <td> {{record.employeeName}} </td>
              <td> {{record.dateTime | date: "dd/M/yyyy"}} </td>
              <td> {{record.dateTime | date: "HH:mm:ss" }} </td>
              <td> {{record.action | uppercase}} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="sectionB" class="tab-pane fade">
        <h3>Processed Data</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Start Work</th>
              <th>Leave Work</th>
              <th>Total Rest</th>
              <th>Total Work</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="record in dataProcessed  | orderBy : sortByDate : true">
              <td> {{record.Date | date: "dd/M/yyyy"}} </td>
              <td> {{record.startWork | date: "HH:mm:ss"}} </td>
              <td> {{record.endWork | date: "HH:mm:ss"}} </td>
              <td> {{record.totalRest}} </td>
              <td> {{record.totalWork}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</section>