<style>
.warning > td.control-data {
  color: red;
  font-weight: bold;
  text-transform: uppercase;

}
</style>


<section ng-controller="DataController">
  <div class="row">
  <div class="col-md-4">
    <div ng-show="name">
      <h3 class="text-primary">{{name}}</h3>
      <img class="img-responsive" src="http://placehold.it/150x200" alt ="{{name}}">
    </div>
  </div>

  <div class = "col-md-8" ng-show="registers">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" data-target="#sectionA">Raw Data</a></li>
      <li><a data-toggle="tab" data-target="#sectionB">Processed Data</a></li>
      <li><a data-toggle="tab" data-target="#sectionC">Summary</a></li>
    </ul>
    <div class="tab-content">
      <div id="sectionA" class="tab-pane fade in active">
        <ng-include src="'/partials/content/_raw_data.html'"></ng-include>
      </div>
      <div id="sectionB" class="tab-pane fade">
        <ng-include src="'/partials/content/_processed_data.html'"></ng-include>
      </div>
      <div id="sectionC" class="tab-pane fade">
        <ng-include src="'/partials/content/_summary_data.html'"></ng-include>
      </div>
    </div>
  </div>
  </div>
</section>