<section ng-controller="RegistersController">
  <div class="row">
  <div class="col-md-4">
    <form class="form-group">
      <label for="sel1" class="control-label">Select a employee </label>
      <div class="row">
        <div class="col-xs-8">
         <select class="form-control" data-style="btn-primary" id="sel1" ng-model="selEmployee" ng-options="employee.name for employee in employees" title="Choose employee..."> </select>
        </div>
        <div class="col-xs-4">
         <button type="button" class="btn btn-primary" ng-click="getEmployeeData()">Go!</button>
        </div>
      </div>
      
    </form>    
    <div ng-show="name">
      <h3>{{name}}</h3>
      <img class="img-responsive" src="http://placehold.it/150x200" alt ="{{name}}">
    </div>
  </div>

  <div class = "col-md-8" ng-show="registers">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" data-target="#sectionA">Raw Data</a></li>
      <li><a data-toggle="tab" data-target="#sectionB">Processed Data</a></li>
      <li><a data-toggle="tab" data-target="#sectionC">Summary</a></li>
    </ul>
    <div class="tab-content">
      <div id="sectionA" class="tab-pane fade in active">
        <h3 class="text-primary">Raw Data</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody> <!---->
            <tr ng-repeat="register in registers | orderBy : sortByDate : true">
              <td> {{register.date}} </td>
              <td> {{register.time}} </td>
              <td> {{register.action | uppercase}} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="sectionB" class="tab-pane fade">
        <h3 class="text-primary">Processed Data</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Start Work</th>
              <th>Leave Work</th>
              <th>Total Rest</th>
              <th>Total Work</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="register in registersProcessed | orderBy : '-dateTime'" ng-class="{warning: register.totalRest == 'no-data'}">
              <td> {{register.date}} </td>
              <td> {{register.startWork}} </td>
              <td> {{register.endWork}} </td>
              <td> {{register.totalRest}} </td>
              <td> {{register.totalWork.toString()}} </td>
              <td><span style="color: red;font-weight: bold;">{{showError(register)}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="sectionC" class="tab-pane fade">
        <h3 class="text-primary">Summary</h3>
      </div>
    </div>
  </div>
  </div>
</section>