<div>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="sectionA">Raw Data</a></li>
    <li><a data-toggle="tab" href="#sectionB">Processed Data</a></li>
  </ul>
  <div class="tab-content">
    <div id="sectionA" class="tab-pane fade in active">
      <div id="sectionB" class="tab-pane fade">
        <h3>Processed Data</h3>
        <table class="table table-hover" ng-show="data">
          <thead>
            <tr>
              <th>Date</th>
              <th>Start Work</th>
              <th>Leave Work</th>
              <th>Total Rest</th>
              <th>Total Work</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="record in dataProcessed  | orderBy : sortByDate : true">
              <td> {{record.Date | date: "dd/M/yyyy"}} </td>
              <td> {{record.startWork | date: "HH:mm:ss"}} </td>
              <td> {{record.endWork | date: "HH:mm:ss"}} </td>
              <td> {{record.totalRest}} </td>
              <td> {{record.totalWork}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>