
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#sectionA">Raw Data</a></li>
    <li><a data-toggle="tab" href="#sectionA">Processed Data</a></li>
  </ul>
  <div class="tab-content">
    <div id="sectionA" class="tab-pane fade in active">
      <h3>Raw Data</h3>
      <table class="table table-hover" ng-show="data">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="record in data | orderBy : sortByDate : true">
            <td> {{record.employeeName}} </td>
            <td> {{record.dateTime | date: "dd/M/yyyy"}} </td>
            <td> {{record.dateTime | date: "HH:mm:ss" }} </td>
            <td> {{record.action | uppercase}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>