<div class="page-header">
  <h3 class="text-primary">Day Summaries</h3> </div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Start Work</th>
      <th>Leave Work</th>
      <th>Total Rest</th>
      <th>Total Work</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="register in daySummaries | orderBy : '-dateTime'" ng-class="{warning: register.totalWork == 'null' || register.totalRest == 'null'}">
      <td> {{register.date}} </td>
      <td ng-class="{'null-data': register.startWork == 'null'}"> {{register.startWork}} </td>
      <td ng-class="{'null-data': register.endWork == 'null'}"> {{register.endWork}} </td>
      <td ng-class="{'null-data': register.totalRest == 'null'}"> {{register.totalRest}} </td>
      <td ng-class="{'null-data': register.totalWork == 'null'}"> {{register.totalWork.toString()}} </td>
      <td>
        <button class="btn btn-info btn-xs" data-animation="am-fade-and-scale" bs-modal="modal" data-content-template="/views/partials/modal_template.html">Show Registers</button>
      </td>
    </tr>
  </tbody>
</table>
